.playlist_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .sub-title {
    font-size: 2rem;
  }

  ul {
    margin-left: 1rem;
    li {
      margin-bottom: 0.3rem;
      &:hover {
        color: #1fdf64;
        cursor: pointer;
        width: fit-content;
      }
    }
  }
}
