<div class="container">
    <h1 class="title">Playlists</h1>
    <div class="tracks_container container">
        <div class="track">
            <div class="right_info">
                <div class="number">1</div>
                <div class="info">
                    <h1 class="name">Symphony Of Destruction</h1>
                    <h4 class="artist">Megadeath</h4>
                </div>
            </div>
            <div class="left_info">3:15</div>
        </div>
        <div class="track">
            <div class="right_info">
                <div class="number">2</div>
                <div class="info">
                    <h1 class="name">Symphony Of Destruction</h1>
                    <h4 class="artist">Megadeath</h4>
                </div>
            </div>
            <div class="left_info">3:15</div>
        </div>
        <div class="track">
            <div class="right_info">
                <div class="number">1</div>
                <div class="info">
                    <h1 class="name">Symphony Of Destruction</h1>
                    <h4 class="artist">Megadeath</h4>
                </div>
            </div>
            <div class="left_info">3:15</div>
        </div>
        <div class="track">
            <div class="right_info">
                <div class="number">1</div>
                <div class="info">
                    <h1 class="name">Symphony Of Destruction</h1>
                    <h4 class="artist">Megadeath</h4>
                </div>
            </div>
            <div class="left_info">3:15</div>
        </div>
        <div class="track">
            <div class="right_info">
                <div class="number">1</div>
                <div class="info">
                    <h1 class="name">Symphony Of Destruction</h1>
                    <h4 class="artist">Megadeath</h4>
                </div>
            </div>
            <div class="left_info">3:15</div>
        </div>
        <div class="track">
            <div class="right_info">
                <div class="number">1</div>
                <div class="info">
                    <h1 class="name">Symphony Of Destruction</h1>
                    <h4 class="artist">Megadeath</h4>
                </div>
            </div>
            <div class="left_info">3:15</div>
        </div>
        <div class="track">
            <div class="right_info">
                <div class="number">1</div>
                <div class="info">
                    <h1 class="name">Symphony Of Destruction</h1>
                    <h4 class="artist">Megadeath</h4>
                </div>
            </div>
            <div class="left_info">3:15</div>
        </div>
        <div class="track">
            <div class="right_info">
                <div class="number">1</div>
                <div class="info">
                    <h1 class="name">Symphony Of Destruction</h1>
                    <h4 class="artist">Megadeath</h4>
                </div>
            </div>
            <div class="left_info">3:15</div>
        </div>
        <div class="track">
            <div class="right_info">
                <div class="number">1</div>
                <div class="info">
                    <h1 class="name">Symphony Of Destruction</h1>
                    <h4 class="artist">Megadeath</h4>
                </div>
            </div>
            <div class="left_info">3:15</div>
        </div>
        <div class="track">
            <div class="right_info">
                <div class="number">1</div>
                <div class="info">
                    <h1 class="name">Symphony Of Destruction</h1>
                    <h4 class="artist">Megadeath</h4>
                </div>
            </div>
            <div class="left_info">3:15</div>
        </div>
        <div class="track">
            <div class="right_info">
                <div class="number">1</div>
                <div class="info">
                    <h1 class="name">Symphony Of Destruction</h1>
                    <h4 class="artist">Megadeath</h4>
                </div>
            </div>
            <div class="left_info">3:15</div>
        </div>
    </div>
</div>